@media (max-width: 1440px) {
  main {
    /* font-size: 0.5rem;  */
    margin-top: 0.5rem;
    transform: scale(0.8rem);
  }
}
@media (max-width: 1200px) {
  main {
    width: 40%;
    transform: scale(0.9);
  }
}
@media (max-width: 770px) {
  main {
    width: 50%;
    transform: scale(0.9);
  }
}
@media (max-width: 720px) {
  main {
    width: 80%;
    transform: scale(0.9);
  }
}

@media (max-width: 425px) {
  main {
    width: 100%;
    transform: scale(0.9);
  }
}
